<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <!--Replace text-->
  {#if clicked}
    <p>You have clicked the button!</p>
  {:else}
    <p>You have to click the button!</p>
  {/if}
</div>
<style>
  button {
        border: 0;
        border-radius: 12px;
        padding: 8px 62px;
        font-weight: bold;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
</style>