<script>
  const baseurl = "https://www.youtube.com/watch?v=";
  const videos = [
    { id: "S4bn6gg-BmE", name: "Messi" },
    { id: "MD6WXsjdcsY", name: "Ronaldo" },
    { id: "yTGr45ZQRdA", name: "Neymar" }
  ];
</script>

<div>
  <h5>Famous soccer players:</h5>
  <!--add an unordered list items-->
  {#each videos as video}
    <ul><li><a target = '_blank' herf="https://www.youtube.com/watch?v={video.id}">
      {video.name}
    </a></li>
  </ul>
  {/each}
</div>
