<script>

  let current = false;
</script>
<div>
<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>
{#if current}
<style>
  .btn-secondary{ 
    background-color:#0084f6;
  }
</style>
{:else}
<style>
  .btn-secondary{ 
    background-color:#0084f5;
  }
</style>
{/if}
</div>