<!-- svelte-ignore a11y-missing-attribute -->
<html>
  <div>
  <!--HTML tags that make paragraphs and an ordered HTML list-->
  <p>"The best visual channels ordered by Mackinlay's ranking:"</p>
  <ol>
    <li>Position</li>
    <li>Length</li>
    <li>Angle</li>
  </ol>  
  </div>
</html>