<script>
    function circumference(r) {
    return (2*Math.PI*r).toFixed(2);
  }
  const radius = Math.abs(rad);
  const rad = 6;
  const value = circumference(rad)
</script>
<p>The circumference of a circle with radius <b>{radius}m</b> is <b>{value}m</b>.</p>
